.Registration {
  position: relative;
  background: #f26522;
  color: white;
  width: 100px;
  height: 35px;
  padding: 0px 10px 0px 15px;

  border-radius: 6px;
}
.Login {
  background: #002aff;
  color: white;
  padding: 0px 10px 0px 15px;
  border-radius: 6px;
  width: 100px;
  height: 35px;
}
.btn {
  position: fixed;
  display: flex;
  width: 250px;
  height: 35px;

  left: 950px;
  gap: 10px;
}

@media screen and (max-width: 824px) {
  .btn {
    position: fixed;
    display: flex;
    width: 204px;
    height: 36px;
    left: 602px;
    gap: 10px;
  }
  .Registration {
    position: relative;
    background: #f26522;
    color: white;
    width: 12vw;
    height: 31px;
    padding: 0px 10px 0px 15px;
    border-radius: 6px;
  }
  .Login {
    background: #002aff;
    color: white;
    padding: 0px 10px 0px 15px;
    border-radius: 6px;
    width: 12vw;
    height: 31px;
  }
}
@media screen and(max-width:980px) {
  .btn {
    position: fixed;
    display: flex;
    width: 220px;
    height: 36px;
    left: 676px;
    gap: 10px;
  }
}
@media screen and (max-width: 769px) {
  .btn {
    position: fixed;
    display: flex;
    width: 220px;
    height: 36px;
    left: 562px;
    gap: 10px;
  }
}
@media screen and (max-width: 670px) {
  .btn {
    display: flex;
    width: 158px;
    height: 32px;
    left: 506px;
    gap: 6px;
  }
}
