.Registration {
  position: relative;
  background: #f26522;
  color: white;
  
  padding: 0px 10px 0px 15px;

  border-radius: 6px;
}
.Login {
  background: #002aff;
  color: white;
  padding: 0px 10px 0px 15px;
  border-radius: 6px;
  
}
.btn {
 position: relative;
  display: flex;
  width: 250px;
  height: 35px;
  margin-top: 25px;
  left: 950px;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .Registration {
    position: relative;
    background: #f26522;
    color: white;
    width: 83px;
    height: 31px;
    padding: 0px 10px 0px 15px;
    border-radius: 6px;
    font-size: 0.7rem;
  }
  .Login {
    background: #002aff;
    color: white;
    padding: 0px 10px 0px 15px;
    border-radius: 6px;
    width: 83px;
    height: 31px;
    font-size: 0.7rem;
  }
  .btn {
    position: fixed;
    display: flex;
    width: 179px;
    height: 31px;
    /* left: 484px; */
    left: 65vw;
    gap: 10px;
    margin-top: 25px;
  }
}
@media screen and (max-width: 620px) {
  .btn {
    position: fixed;
    display: flex
;
    width: 179px;
    height: 31px;
    /* left: 484px; */
    left: 50vw;
    gap: 10px;
    margin-top: 25px;
}

}
@media screen and (max-width: 440px) {
  .btn {
    position: fixed;
    display: flex
;
    width: 179px;
    height: 31px;
    /* left: 484px; */
    left: 40vw;
    gap: 10px;
    margin-top: 25px;
}
.HeaderName {
  /* display: none; */
  position: fixed;
  right: 250px;
  top: 28px;
  width: 87px;
  left: 15px;
}
}


@media (min-width:769px){
  .btn {
    position: fixed;
    display: flex
;
    width: 179px;
    height: 31px;
    /* left: 484px; */
    left: 73vw;
    gap: 10px;
    margin-top: 25px;
}
}


