.event-main {
  position: absolute;
  top: 150px;
  width: 100vw;
  z-index: -1000;
}
.event-div1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70vw;
  margin: auto;
}
.event-p1 {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;

  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.event-p2 {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: var(--TitleMediumLineHeight);
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.event-p3 {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 700;

  line-height: var(--TitleMediumLineHeight);
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}
.Event-display {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
  justify-content: center;
}
.event-heading {
  width: 60vw;
  height: 110px;
  gap: 0px;
  border-radius: 10px 10px 0px 0px;
  opacity: 0px;
  background: #f26522;
}
.event-p4 {
  font-family: DM Sans;
  color: white;
  font-size: 18px;
  font-weight: 400;

  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0px opx;
}
.school-name {
  font-family: DM Sans;
  font-size: 30px;
  font-weight: 700;

  margin-top: -10px;
  text-align: center;
  color: white;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: DM Sans;
}
.desc {
  width: 350px;
  height: 110px;

  gap: 0px;
  border-radius: 10px 10px 0px 0px;
  opacity: 0px;
  background: #f26522;
}
.day {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;

  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
.date {
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 400;

  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
.time {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;

  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.event-details {
  background: #f265224d;
  width: 350px;

  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px;
  opacity: 0px;
}
.flex-row {
  display: flex;
  justify-content: space-between;
  font-family: DM Sans;
  font-size: 8.5px;
  font-weight: 400;
  width: 330px;
  padding: 0%;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.heading {
  width: 100px;
  margin: 0%;
  margin-left: 10px;
}
.space {
  width: 7px;
}
.stage {
  width: 50px;
  margin: 0%;
}
.card-list {
  display: flex;

  flex-wrap: wrap;

  /* position: relative; */
  top: 50px;
  gap: 20px;
  justify-content: center;
}
.event-div2 {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
  flex-wrap: wrap;
  width: 100vw;
}
span {
  align-items: start;
  font-family: DM Sans;
  margin: auto;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  line-height: var(--TitleMediumLineHeight);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.venue-details {
  text-align: left;
  margin: 0%;
  font-family: DM Sans;
  padding: 5px;
  margin: auto;
}
.tdx {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.65px;
  text-align: center;
  text-underline-position: from-font;
  margin: 0%;
  text-decoration-skip-ink: none;
}

.event-div3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  top: 50px;
  width: 65vw;
  margin: auto;
}
.event-div4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 70px;
}
.sc-bold {
  font-family: DM Sans;
  font-size: 21.18px;
  font-weight: 700;
  margin: 0%;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.sports {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
  width: 80vw;
  margin: auto;
}
.sports-card {
  width: 170px;
  height: 200px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #f26522;
  border-radius: 8px 8px 6px 6px;
  position: relative;
}
.sports-name {
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 400;
  color: white;
  font-weight: bolder;

  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.name-card {
  background: #f26522;
  width: 170px;
  height: 40px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 160px;
  border-radius: 0px 0px 5px 5px;
}
.image-size {
  width: 170px;
  height: 160px;
  gap: 0px;
  opacity: 0px;
}
