.Home {
  position: absolute;
  top: 150px;
  z-index: -1000;
}
.Section-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  gap: 30px;
  justify-content: space-evenly;

  text-align: center;
}
.TheMagicOfRotary {
  width: 200px;
  height: 120px;

  top: 10px;
}
.RotaryPresent {
  width: 200px;
  height: 120px;

  top: 10px;
}
.Vss {
  width: 200px;
  height: 120px;

  top: 10px;
}
.Section-two {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  gap: 10px;
  width: 100vw;
  top: 50px;
}
.Header {
  width: 50vw;
  height: 100px;

  margin: auto;
}
.Header_title {
  font-size: 20px;
  left: 10px;
  margin: auto;
  width: 80vw;
}
.Champions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  top: 70px;
  width: 100vw;
}
.Section-three {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  gap: 30px;
  width: 100vw;
}
.GirlWithBAt {
  width: 350px;
  height: 340px;
}
.BoyWithFootBall {
  width: 350px;
  height: 340px;
}
.BoyWithBAt {
  width: 350px;
  height: 340px;
}
.inner-section {
  top: 100px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}
.para1 {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: var(--TitleLargeLineHeight);
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 80vw;
}
.Section-four {
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 190px;
  flex-wrap: wrap;
  width: 100vw;
}
.p-image {
  width: 110px;
  height: 66px;

  align-items: center;
  margin: auto;
}
.SportFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100vw;
  top: 200px;
  position: relative;
}

.Midsection {
  position: relative;
  top: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;

  width: 100vw;
}
.Midsection img {
  margin: auto;
  width: 100px;
  height: 50px;
}
.Team {
  position: relative;
  top: 270px;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  gap: 30px;
  justify-content: center;
}

.Discover {
  display: flex;
  flex-direction: column;

  position: relative;
  top: 300px;
  text-align: center;
}
.Discover img {
  margin: auto;
  width: 100px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .Vss {
    width: 125px;
    height: 120px;
  }
  .HeaderName {
    display: none;
  }
  .Section-three {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    gap: 30px;
    width: 100vw;
    align-items: center;
  }
  .inner-section {
    top: 56px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 99vw;
  }
  .p-image {
    width: 100px;
    height: 50px;
  }
  .Team {
    position: relative;
    top: 300px;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    gap: 30px;
    justify-content: center;
  }
  .Discover {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 343px;
    /* text-align: center; */
    padding: 0%;
  }
}
@media screen and (max-width: 577px) {
  .HeaderName {
    position: fixed;
    /* right: 213px; */
    top: 27px;
    width: 110px;
    left: 14px;
  }
  .Section-one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    gap: 30px;
    justify-content: space-evenly;

    text-align: center;
  }
  .SportFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100vw;
    top: 200px;
    position: relative;
  }
  .Team {
    position: relative;
    top: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .Discover img {
    margin: auto;
    width: 76px;
    height: 38px;
  }
}
